<!doctype html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Crowdsource</title>
  </head>

  <body>
    <h1 class="text-center title">Crowdsource</h1>

    <div class="container text-center">

    <h3 class="create-poll">Create a New Poll!</h3><br><br>
    <section class="poll-form">
      <form class="poll-setup" action="/polls" method="post">
        <div class="row">
          <div class="col-sm-6 col-sm-push-3">
            <label for="poll-name" id="poll-name">Poll Name:</label>
            <input type="text" class="form-control" name="poll[name]" required id="poll-name">
          </div>
        </div>

        <h3 class="create-poll">Add at least 2 and up to 6 voting choices:</h3>

        <label>Option 1:</label>
        <input type="text" class="option" name="poll[options][]" required><br>

        <label>Option 2:</label>
        <input type="text" class="option" name="poll[options][]" required><br>

        <label>Option 3:</label>
        <input type="text" class="option" name="poll[options][]"><br>

        <label>Option 4:</label>
        <input type="text" class="option" name="poll[options][]"><br>

        <label>Option 5:</label>
        <input type="text" class="option" name="poll[options][]"><br>

        <label>Option 6:</label>
        <input type="text" class="option" name="poll[options][]"><br><br>

        <label>How many minutes would you like this poll to run for?</label><br>
        <input type="text" name="poll[timer]" value="No time constraint"><br><br>

        <label for="showresults">Make Results Public?</label>
        <input type="checkbox" name="poll[showresults]" id="showresults"><br><br>

        <input type="submit" class="btn btn-info" value="Create Poll">
      </form>
    </section>

  </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
