<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Crowdsource</title>
  </head>

  <body>
    <h1 class="text-center">Crowdsource</h1>

    <div class="container text-center">

    <h3>Create a New Poll!</h3><br><br>
    <section class="poll-form">
      <form class="poll-setup" action="/polls" method="post">
        <label for="poll-name">Poll Name:</label>
        <input type="text" class="form-control" name="poll[name]" required id="poll-name">

        <h3>Add at least 2 and up to 6 voting choices:</h3>

        <label for="opt-one">Option 1:</label>
        <input type="text" class="option" name="poll[options][]" required id="opt-one"><br>

        <label for="opt-two">Option 2:</label>
        <input type="text" class="option" name="poll[options][]" required id="opt-two"><br>

        <label for="opt-three">Option 3:</label>
        <input type="text" class="option" name="poll[options][]" id="opt-three"><br>

        <label for="opt-four">Option 4:</label>
        <input type="text" class="option" name="poll[options][]" id="opt-four"><br>

        <label for="opt-five">Option 5:</label>
        <input type="text" class="option" name="poll[options][]" id="opt-five"><br>

        <label for="opt-six">Option 6:</label>
        <input type="text" class="option" name="poll[options][]" id="opt-six"><br><br>

        <input type="submit" class="btn btn-info" value="Create Poll">
      </form>
    </section>

  </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
