<!doctype html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Crowdsource</title>
  </head>
  <body>
    <h2 class="text-center title"><%= title %></h2>
    <h2 class="text-center welcome">Welcome to the <u><%= poll.name %></u> Poll!</h2>
    <% if(!poll.closed) { %>
      <h4 class="text-center choose">Choose Wisely...</h4>
      <div class="text-center" id="choices">
        <% for(var i=0; i < poll.options.length; i++) { %>
          <% if(poll.options[i] !== '') { %>
            <button type="button" name="button"><%= poll.options[i] %></button><br><br>
          <% } %>
        <% } %>
      </div>
    <% } else { %>
      <h3 class="text-center close-message">Sorry, this poll is closed.</h3>
    <% } %>
    <h3 id="close-message-public" class=" text-center close-message"></h3>
    <div class="text-center" id="my-vote"></div>

    <% if(poll.showresults === "on") { %>
      <h3 class="text-center current-votes">Current Votes:</h3>
      <ul class="text-center" id="vote-tally"></ul>
      <div class="text-center users-connected" id="connection-count"></div>
    <% } %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
